abi
art
bionic
bootable
build
cts
dalvik
developers
development
device
docs
external
frameworks
GitSyncError.txt
hardware
kernel
libcore
libnativehelper
ndk
packages
pdk
plan.txt
plan.txt~
prebuilts
sdk
system
tools
vendor
